@import "reset.css";

/* Screens */

@import "screens/background.css";
@import "screens/login.css";
@import "screens/data-column.css";
@import "screens/scheduler-column.css";

/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap");

.hidden {
  display: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}
