@import "reset.css";

/* Screens */

@import "screens/background.css";
@import "screens/login.css";

.hidden {
  display: none;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}
