.data-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.021);
  margin: 0px 4vw 0px 0px;
  border-radius: 20px;
}

.data-column__user-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 20vh;
  border-radius: 10px;
  margin-bottom: 2.5vh;
  background-color: rgba(0, 0, 0, 0.425);
}

.temperature {
  display: block;
  font-family: "Bungee Hairline", cursive;
  color: white;
  font-size: 35px;
}

.weather {
  display: block;
  font-family: "Bungee Hairline", cursive;
  color: white;
  font-size: 17px;
}

.city {
  display: block;
  font-family: "Bungee Hairline", cursive;
  color: white;
  font-size: 15px;
}

.data-column__imsi {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 47.5vh;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.658);
}

#clock {
  font-family: "Bungee Hairline", cursive;
  font-weight: bold;
  color: black;
  font-size: 30px;
}
