#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login__text {
  font-weight: bold;
  height: 10vh;
  width: 340px;
  border: none;
  background-color: inherit;
  color: white;
  font-size: 40px;
}

#login__text::placeholder {
  color: rgba(202, 195, 195, 0.966);
}

@keyframes changeSubmitColor {
  from {
    background-color: rgb(61, 61, 61);
    color: white;
  }
  to {
    background-color: white;
    color: black;
  }
}

#login__submit {
  background-color: rgb(61, 61, 61);
  border: none;
  height: 25px;
  width: 150px;
  opacity: 0.6;
  color: white;
  border-radius: 5px;
}

#login__submit:focus {
  background-color: white;
  color: black;
  animation: changeSubmitColor 0.2s ease-in-out;
}

#greeting {
  color: white;
}

.hidden {
  display: none;
}
