.scheduler-column {
  width: 55vw;
  height: 70vh;
  margin: 0px 0px 0px 0px;
  border-radius: 20px;
}

.scheduler-column__dailyTodo-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vw;
  height: 40vh;
}

.scheduler-column__dailyTodo-list-main {
  width: 35vw;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.685);
  border: 2px solid white;
  border-radius: 10px;
  margin-right: 5vw;
}

#greeting {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 15px 0px 15px 15px;
  font-size: 25px;
}

#dailyTodo-form input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 0.3px solid white;
  height: 30px;
  width: 32.5vw;
  margin-left: 1vw;
  margin-bottom: 10px;
  color: white;
}

#dailyTodo-form input::placeholder {
  padding-left: 5px;
  color: rgba(255, 255, 255, 0.774);
}

#dailyTodo-list li {
  margin: 10px 0px 2px 15px;
  font-size: 15px;
  color: white;
}

#dailyTodo-list button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.scheduler-column__dailyTodo-list-calender {
  width: 15vw;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.836);
  border: 3px solid black;
  border-radius: 10px;
}

#calender {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 15px 0px 15px 22.5px;
  font-size: 25px;
}

#monthlyTodo-form input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 1px solid black;
  height: 30px;
  width: 12.5vw;
  margin-left: 1vw;
}

#monthlyTodo-list li {
  margin: 15px 0px 5px 15px;
  font-size: 20px;
}

#monthlyTodo-list button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.scheduler-column__music {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vw;
  height: 20vh;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 10px;
  margin-top: 2.5vw;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

#music {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.scheduler-column__music img {
  display: block;
  width: 15vh;
  height: 15vh;
  margin: 0px 5vh 0px 3vh;
  border-radius: 10px;
}

.scheduler-column__music span:nth-child(2) {
  display: block;
  font-weight: bold;
}

.scheduler-column__music span:nth-child(3) {
  display: block;
  font-style: italic;
}

.scheduler-column__quote {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 55vw;
  height: 5vh;
  border-radius: 10px;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.hidden {
  display: none;
}
